/*-- scss:defaults --*/

// headings
$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size:	1.6em;
$presentation-h3-font-size:	1.0em;
$presentation-h4-font-size: .8em;
$presentation-h5-font-size: .6em;
$presentation-h6-font-size: .4em;
$presentation-font-size-root: 25px;
$presentation-font-smaller: .7;

.center h2 {
  text-align: center;
}
